@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    background-image: url("../public/Together.jpg");
    min-height: 600px;
    scroll-behavior: smooth;
}
.quote-home{
    font-size: 4rem;
}
.memories{
    background-color: white;
    min-height: 600px;
}
.memories h2{
    font-size: 2.5rem;
    color: #00215E;
    font: bolder;
}
.memories h2 span{
    font-family: cursive;
    font-size: 3.5rem;
}
.about{
    background-color: #dec3c3  ;
    min-height: 600px;
}
.about h2{
    color: #ffffff;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
}
.name{
    color: #000000;
    font: bold;
    font-family: cursive;
}